# common.env.sample can be used to create common.env file.
# Use common.env file to change default settings.
# If exists it is executed by bash with source command during execution of other scripts.
# Save this sample file as common.env,
# uncomment required variables and set proper values.
# Values with lists in this file are comma-separated.

# ---
# set specific container registry, default is atsgen
#CONTAINER_REGISTRY='atsgen'


# ---
# set specific container tag, default is latest
#CONTAINER_TAG='latest'
